In [1]:
# importing google drive or mounting
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/content/drive/MyDrive/supply_chain_analytics/data/supply_chain_data.csv')

In [4]:
df.head()

,Product type,SKU,Price,Availability,Number of products sold,Revenue generated,Customer demographics,Stock levels,Lead times,Order quantities,...,Location,Lead time,Production volumes,Manufacturing lead time,Manufacturing costs,Inspection results,Defect rates,Transportation modes,Routes,Costs
0,haircare,SKU0,69.808006,55,802,8661.996792,Non-binary,58,7,96,...,Mumbai,29,215,29,46.279879,Pending,0.226410,Road,Route B,187.752075
1,skincare,SKU1,14.843523,95,736,7460.900065,Female,53,30,37,...,Mumbai,23,517,30,33.616769,Pending,4.854068,Road,Route B,503.065579
2,haircare,SKU2,11.319683,34,8,9577.749626,Unknown,1,10,88,...,Mumbai,12,971,27,30.688019,Pending,4.580593,Air,Route C,141.920282
3,skincare,SKU3,61.163343,68,83,7766.836426,Non-binary,23,13,59,...,Kolkata,24,937,18,35.624741,Fail,4.746649,Rail,Route A,254.776159
4,skincare,SKU4,4.805496,26,871,2686.505152,Non-binary,5,3,56,...,Delhi,5,414,3,92.065161,Fail,3.145580,Air,Route A,923.440632

In [5]:
"""The Information i claimed to be the part is (
  Sales (prices, quantities sold, revenue)

Inventory (stock levels, availability)

Supply chain operations (lead times, shipping costs, carriers)

Quality (defect rates, inspection results)

Suppliers and locations
)"""

'The Information i claimed to be the part is (\n  Sales (prices, quantities sold, revenue)\n\nInventory (stock levels, availability)\n\nSupply chain operations (lead times, shipping costs, carriers)\n\nQuality (defect rates, inspection results)\n\nSuppliers and locations\n)'

In [6]:
df.shape

(100, 24)

In [7]:
df.isnull().sum()

Product type               0
SKU                        0
Price                      0
Availability               0
Number of products sold    0
Revenue generated          0
Customer demographics      0
Stock levels               0
Lead times                 0
Order quantities           0
Shipping times             0
Shipping carriers          0
Shipping costs             0
Supplier name              0
Location                   0
Lead time                  0
Production volumes         0
Manufacturing lead time    0
Manufacturing costs        0
Inspection results         0
Defect rates               0
Transportation modes       0
Routes                     0
Costs                      0
dtype: int64

In [8]:
for col in df.columns:
  if df[col].dtype == 'object':
    unique_values = df[col].nunique()
    print(f'{col}: {unique_values} unique values (categorical)')
  else:
    print(f'{col}: {df[col].dtype} ^^ range: MIN: {df[col].min():.2f} MAX: {df[col].max():.2f}')

Product type: 3 unique values (categorical)
SKU: 100 unique values (categorical)
Price: float64 ^^ range: MIN: 1.70 MAX: 99.17
Availability: int64 ^^ range: MIN: 1.00 MAX: 100.00
Number of products sold: int64 ^^ range: MIN: 8.00 MAX: 996.00
Revenue generated: float64 ^^ range: MIN: 1061.62 MAX: 9866.47
Customer demographics: 4 unique values (categorical)
Stock levels: int64 ^^ range: MIN: 0.00 MAX: 100.00
Lead times: int64 ^^ range: MIN: 1.00 MAX: 30.00
Order quantities: int64 ^^ range: MIN: 1.00 MAX: 96.00
Shipping times: int64 ^^ range: MIN: 1.00 MAX: 10.00
Shipping carriers: 3 unique values (categorical)
Shipping costs: float64 ^^ range: MIN: 1.01 MAX: 9.93
Supplier name: 5 unique values (categorical)
Location: 5 unique values (categorical)
Lead time: int64 ^^ range: MIN: 1.00 MAX: 30.00
Production volumes: int64 ^^ range: MIN: 104.00 MAX: 985.00
Manufacturing lead time: int64 ^^ range: MIN: 1.00 MAX: 30.00
Manufacturing costs: float64 ^^ range: MIN: 1.09 MAX: 99.47
Inspection results: 3 unique values (categorical)
Defect rates: float64 ^^ range: MIN: 0.02 MAX: 4.94
Transportation modes: 4 unique values (categorical)
Routes: 3 unique values (categorical)
Costs: float64 ^^ range: MIN: 103.92 MAX: 997.41

In [9]:
df.head(1)
print(df.describe(include='all'))

       Product type   SKU       Price  Availability  Number of products sold  \
count           100   100  100.000000    100.000000               100.000000
unique            3   100         NaN           NaN                      NaN
top        skincare  SKU0         NaN           NaN                      NaN
freq             40     1         NaN           NaN                      NaN
mean            NaN   NaN   49.462461     48.400000               460.990000
std             NaN   NaN   31.168193     30.743317               303.780074
min             NaN   NaN    1.699976      1.000000                 8.000000
25%             NaN   NaN   19.597823     22.750000               184.250000
50%             NaN   NaN   51.239831     43.500000               392.500000
75%             NaN   NaN   77.198228     75.000000               704.250000
max             NaN   NaN   99.171329    100.000000               996.000000

        Revenue generated Customer demographics  Stock levels  Lead times  \
count          100.000000                   100    100.000000  100.000000
unique                NaN                     4           NaN         NaN
top                   NaN               Unknown           NaN         NaN
freq                  NaN                    31           NaN         NaN
mean          5776.048187                   NaN     47.770000   15.960000
std           2732.841744                   NaN     31.369372    8.785801
min           1061.618523                   NaN      0.000000    1.000000
25%           2812.847151                   NaN     16.750000    8.000000
50%           6006.352023                   NaN     47.500000   17.000000
75%           8253.976921                   NaN     73.000000   24.000000
max           9866.465458                   NaN    100.000000   30.000000

        Order quantities  ...  Location   Lead time  Production volumes  \
count         100.000000  ...       100  100.000000          100.000000
unique               NaN  ...         5         NaN                 NaN
top                  NaN  ...   Kolkata         NaN                 NaN
freq                 NaN  ...        25         NaN                 NaN
mean           49.220000  ...       NaN   17.080000          567.840000
std            26.784429  ...       NaN    8.846251          263.046861
min             1.000000  ...       NaN    1.000000          104.000000
25%            26.000000  ...       NaN   10.000000          352.000000
50%            52.000000  ...       NaN   18.000000          568.500000
75%            71.250000  ...       NaN   25.000000          797.000000
max            96.000000  ...       NaN   30.000000          985.000000

       Manufacturing lead time Manufacturing costs  Inspection results  \
count                100.00000          100.000000                 100
unique                     NaN                 NaN                   3
top                        NaN                 NaN             Pending
freq                       NaN                 NaN                  41
mean                  14.77000           47.266693                 NaN
std                    8.91243           28.982841                 NaN
min                    1.00000            1.085069                 NaN
25%                    7.00000           22.983299                 NaN
50%                   14.00000           45.905622                 NaN
75%                   23.00000           68.621026                 NaN
max                   30.00000           99.466109                 NaN

        Defect rates  Transportation modes   Routes       Costs
count     100.000000                   100      100  100.000000
unique           NaN                     4        3         NaN
top              NaN                  Road  Route A         NaN
freq             NaN                    29       43         NaN
mean        2.277158                   NaN      NaN  529.245782
std         1.461366                   NaN      NaN  258.301696
min         0.018608                   NaN      NaN  103.916248
25%         1.009650                   NaN      NaN  318.778455
50%         2.141863                   NaN      NaN  520.430444
75%         3.563995                   NaN      NaN  763.078231
max         4.939255                   NaN      NaN  997.413450

[11 rows x 24 columns]

In [10]:
cat_col = df.select_dtypes(include='object').columns
df[cat_col].head()
df['SKU'].nunique()

100

### Feature Engineering

In [11]:
df['revenue per unit'] = (df['Revenue generated'] / df['Number of products sold'] + 1)

In [12]:
df['total lead time'] = df['Lead times'] + df['Manufacturing lead time']

In [14]:
df['sales velocity'] = df['Number of products sold'] / df['total lead time']

In [16]:
df['stock availability'] = (df['Number of products sold'] / df['Stock levels'] + 1)

In [17]:
df['cost efficiency'] = df['Revenue generated'] / (df['Costs'] + df['Shipping costs'])

In [18]:
df['profit margin %'] = ((df['Revenue generated'] - df['Manufacturing costs'])
/ df['Revenue generated'] * 100)

In [19]:
df['quality score'] = 100 - df['Defect rates']

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# import pickle

# le = LabelEncoder()
# copy_df = df.copy()
# for col in df[cat_col]:
#   copy_df[col] = le.fit_transform(df[col])

# with open('/content/drive/MyDrive/supply_chain_analytics/preprocessors/sku_encoder.pkl', 'wb') as f:
#   pickle.dump(le, f)

In [ ]:
copy_df = df.copy()
correlation = copy_df.corr()
plt.figure(figsize=(14, 7))

sns.heatmap(correlation, annot=True, cmap='coolwarm')
plt.title('Correlation Heatmap')
plt.show()
plt.savefig('corre.png')

In [ ]:
import tensorflow as tf
from tensorflow.keras import layers, models
from sklearn.model_selection import train_test_split

In [ ]:
# from numpy import ndarray
# def scale(train_data):
#   mean = train_data.mean(axis=0)
#   train_data -= mean

#   std = train_data.std(axis=0)

#   train_data /= std

#   return train_data.to_numpy()

# train_df = scale(copy_df)

In [ ]:
copy_df.head()

In [ ]:
copy_df['Shipping costs']

In [ ]:
copy_df['Shipping costs'][0]

In [ ]:
copy_df.columns

In [ ]:
96*802+187+2.95

In [ ]:
copy_df['SKU'].value_counts(ascending=False).index

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(copy_df['Revenue generated'], bins=20, kde=True)
plt.title('Distribution of Revenue Generated Across All SKUs')
plt.xlabel('Revenue Generated')
plt.ylabel('Number of SKUs')

top_revenue_sku_data = copy_df.loc[copy_df['Revenue generated'].idxmax()]
top_sku_index = top_revenue_sku_data['SKU']
top_sku_revenue = top_revenue_sku_data['Revenue generated']

plt.axvline(top_sku_revenue, color='red', linestyle='dashed', linewidth=2)
min_ylim, max_ylim = plt.ylim()
plt.text(top_sku_revenue*1.05, max_ylim*0.9, f'Top SKU (SKU {top_sku_index}) Revenue: {top_sku_revenue:.2f}', color='red')

plt.show()
print(f"The top performing SKU (SKU {top_sku_index}) has a revenue of ${top_sku_revenue:.2f}")

In [ ]:
copy_df.head()

In [ ]:
sku_demographics = copy_df.groupby(['Customer demographics', 'SKU']).size().unstack(level='SKU').fillna(0)